# インデクサ

pandasのSeriesおよびDataFrameにはインデクサと呼ばれるインデックス（ラベル）にアクセスするためのプロパティ（属性）があります。インデクサを利用することで、データを効率よく抽出したり、書き換えることができます。

.loc
: インデックス（ラベル）による指定

.iloc
: 位置（順序）による指定

.at
: インデックス（ラベル）による指定、値（単一のデータ）が対象

.iat
: 位置（順序）による指定、値（単一のデータ）が対象

## .locインデクサ

.locインデクサはデータのインデックス（ラベル）を添字に指定して、データにアクセスします。

In [2]:
import pandas as pd

ser = pd.Series(list("ABCDE"), index=list("abcde"))
ser

a    A
b    B
c    C
d    D
e    E
dtype: object

In [3]:
ser.loc["b"]

'B'

リストやタプルなどと同様にスライスによる指定ができます。.locインデクサによるスライスは **開始位置と終了位置が含まれます** 。

In [4]:
ser.loc["b":"d"]

b    B
c    C
d    D
dtype: object

In [5]:
ser.loc["c":]

c    C
d    D
e    E
dtype: object

In [6]:
ser.loc[:"c"]

a    A
b    B
c    C
dtype: object

すべての要素にアクセスする場合は、添字に `:` を渡します。

In [7]:
ser.loc[:]

a    A
b    B
c    C
d    D
e    E
dtype: object

添字にリストを渡すことで、リスト内に指定した要素にアクセスできます。

In [8]:
ser.loc[["a", "c"]]

a    A
c    C
dtype: object

DataFrameの場合は添字に `行のインデックス, 列のインデックス` の形式で指定します。

In [9]:
df = pd.DataFrame(
    [
        ["r1c1", "r1c2", "r1c3"],
        ["r2c1", "r2c2", "r2c3"],
        ["r3c3", "r3c2", "r3c3"],
    ],
    index=["r1", "r2", "r3"],
    columns=["c1", "c2", "c3"]
)
df

      c1    c2    c3
r1  r1c1  r1c2  r1c3
r2  r2c1  r2c2  r2c3
r3  r3c3  r3c2  r3c3

In [10]:
df.loc["r1", "c2"]

'r1c2'

Seriesと同様にスライスやリストを利用したアクセスができます。

In [11]:
df.loc["r2":, ["c1", "c3"]]

      c1    c3
r2  r2c1  r2c3
r3  r3c3  r3c3

## .ilocインデクサ

.ilocインデクサはデータの位置（順序）を添字に指定して、データにアクセスします。

In [12]:
ser

a    A
b    B
c    C
d    D
e    E
dtype: object

In [13]:
ser.iloc[1]

'B'

DataFrameの場合は添字に `行のインデックス, 列のインデックス` の形式で指定します。

In [14]:
df

      c1    c2    c3
r1  r1c1  r1c2  r1c3
r2  r2c1  r2c2  r2c3
r3  r3c3  r3c2  r3c3

In [15]:
df.iloc[0, 2]

'r1c3'

リストやタプルなどと同様にスライスによる指定ができます。.locインデクサとは異なり、リストやタプルと同じ挙動をします。

In [16]:
ser.iloc[2:4]

c    C
d    D
dtype: object

In [17]:
"ABCDE"[2:4]

'CD'

.locインデクサと同様に添字にリストを渡すことで、リスト内に指定した要素にアクセスできます。

In [18]:
ser.iloc[[1, 3]]

b    B
d    D
dtype: object

In [19]:
df.iloc[[0, 2], [1, 2]]

      c2    c3
r1  r1c2  r1c3
r3  r3c2  r3c3

## .atインデクサ、iatインデクサ

SeriesおよびDataFrameのインデクサの添字に単なる値を指定する場合は、.locインデクサの変わりに.atインデクサ、.ilocインデクサの変わりに.iatインデクサを利用すると高速に処理できます。

In [20]:
ser.at["b"]

'B'

In [21]:
ser.iat[0]

'A'

In [22]:
df.loc["r1", "c2"]

'r1c2'

In [23]:
df.iloc[0, 2]

'r1c3'

.atインデクサおよび.iatインデクサに複数の要素（スライス、リスト）を渡すと `InvalidIndexError` や `ValueError` 例外を送出されます。

```python
>>> ser.at["a":]
InvalidIndexError: slice(1, None, None)
>>> df.iat[[0, 1], 1]
ValueError: iAt based indexing can only have integer indexers
```

## 要素の変更

インデックスに指定した要素に値を代入することで、要素が変更できます。

In [24]:
ser

a    A
b    B
c    C
d    D
e    E
dtype: object

In [25]:
ser.loc["b"] = "BB"
ser

a     A
b    BB
c     C
d     D
e     E
dtype: object

In [26]:
df.loc["r2", "c2"] = "R2C2"
df

      c1    c2    c3
r1  r1c1  r1c2  r1c3
r2  r2c1  R2C2  r2c3
r3  r3c3  r3c2  r3c3

インデックスを範囲指定した場合に値を代入した場合は、同じ値で埋められます。

In [27]:
ser.loc["b":"d"] = "BCD"
ser

a      A
b    BCD
c    BCD
d    BCD
e      E
dtype: object

In [28]:
df.loc["r2":, "c2"] = "R2C2-R3C2"
df

      c1         c2    c3
r1  r1c1       r1c2  r1c3
r2  r2c1  R2C2-R3C2  r2c3
r3  r3c3  R2C2-R3C2  r3c3

複数の要素を代入する場合は、インデックスに指定した要素数を合致させます。

In [29]:
ser.loc["b":"d"] = ["b", "c", "d"]
ser

a    A
b    b
c    c
d    d
e    E
dtype: object

In [30]:
df.loc["r2":, "c2"] = ["R2C2", "R3C2"]
df

      c1    c2    c3
r1  r1c1  r1c2  r1c3
r2  r2c1  R2C2  r2c3
r3  r3c3  R3C2  r3c3

インデックスを指定して、複数要素を代入した際に、インデックスと代入した要素数が合致しなかった場合は `ValueError` 例外が送出されます。


```python
>>> ser.loc["d":] = ["D", "E", "F"]
ValueError: cannot set using a slice indexer with a different length than the value
```