[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](http://colab.research.google.com/github/drillan/python-data-analysis/blob/main/docs/pandas/series.ipynb)

# Series

Seriesはインデックスと呼ばれるラベルを持った同一のデータ型を持つ1次元のデータです。 `Series` オブジェクトを生成するには Series クラスの引数に次のようなデータを渡します。

- リスト
- タプル
- 辞書
- `numpy.ndarray`
- その他（イテラブルオブジェクト）

pandasではこのようなデータを総称して「array-like」と呼びます。

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

次のコードでは `Series` オブジェクトを生成しています。

In [2]:
import pandas as pd

ser = pd.Series([3, 5, 2])

`type` 関数を実行すると、 `Series` 型であることが確認できます。

In [3]:
type(ser)

pandas.core.series.Series

REPLでは、データのラベル（Index）と値が出力されます。

In [5]:
ser

0    3
1    5
2    2
dtype: int64